<hr>
<div class='row'>
  <div class="col-sm-12 col-lg-3">
    <%= ff.input :category_id, label: 'Category *', collection: Category.order(:name).pluck(:name, :id), input_html: { class: 'form-control' } %>
  </div>
  <div class="col-sm-12 col-lg-3">
    <%= ff.input :quantity, label: 'Quantity', class: 'form-control' %>
  </div>
  <div class="col-sm-12 col-lg-3">
    <%= ff.input :unit_price, label: 'Unit price', class: 'form-control' %>
  </div>
  <div class="col-sm-12 col-lg-3">
    <%= ff.input :amount, label: 'Amount', class: 'form-control' %>
  </div>
</div>
